<h3>Add a new book: </h3>

<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :author %>
  <%= f.text_field :author %>
  
  <%= f.submit "Add Book" %>
<% end %>